@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body{*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2a2a2a;
  font-family: var(--font-keepcalm);
  overflow-x: hidden;
}

/*header {*/
/*  height: 80px;*/
/*  background-color: #1E1E1E;*/
/*}*/

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.wrap-header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrap-forum{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.wrap-banner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hero-banner-font{
  font-family: var(--font-robotoCondensed);
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
